@import './variable';
@mixin scrollbar {
  overflow-y: auto;
  margin-bottom: 0.5vh;
  max-height: 88vh;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(144 147 153 / 30%);
  }
  &::-webkit-scrollbar-thumb:hover {
    // background-color: rgba(144, 147, 153, 0.3);
  }
}

@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 7px;
    background-color: #dddddd;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0 0 0 / 50%);
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track:hover {
    // background-color: #f8fafc;
  }
}
.icon-hover {
  cursor: pointer;
  &:hover {
    background-color: $base-hover-color;
  }
}
.i-icon:focus-visible {
  border: none !important;
  outline: none !important;
}
html {
  body {
    @include base-scrollbar;

    position: relative;
    overflow: hidden;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
  }
  div {
    @include base-scrollbar;
  }
}
.page-container {
  padding: $base-main-padding !important;
  min-height: calc(100vh - 86px);
  box-sizing: border-box;
  background-color: $base-color-white;
}
.table-page {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 20px;
  width: 100%;
  flex-direction: row;
}
